# --- DEPENDENCIES ---
node_modules/
/pnpm-lock.yaml
/package-lock.json
/yarn.lock
.idea
# --- NEXT.JS BUILD & CACHE ---
.next/
out/
build/
# Fichiers de build spécifiques à Vercel
.vercel

# --- DEBUG & LOGS ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# --- ENVIRONMENT VARIABLES (TRÈS IMPORTANT) ---
# Ne jamais commit tes clés API ou secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# --- OS SPECIFIC ---
.DS_Store
Thumbs.db
*.swp

# --- TYPESCRIPT / BUILD INFO ---
*.tsbuildinfo
next-env.d.ts

# --- TESTING ---
/coverage
.nyc_output

# --- IDE SPECIFIC ---
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
test.tsx